# Streamlit
streamlit==0.79.0  # https://streamlit.io/
streamlit-aggrid==0.2.3.post2  # https://pypi.org/project/streamlit-aggrid/
streamlit-agraph==0.0.35

# data organisation and analysis
pandas==1.2.3  # https://pandas.pydata.org/

# math and statistic
numpy==1.20.2  # https://numpy.org/
scipy==1.6.2  # https://www.scipy.org/

# quantum computing by IBM
qiskit==0.24.1  # https://qiskit.org/documentation/apidoc/ibmq_random.html
qiskit-rng==0.2.2  # https://qiskit-rng.readthedocs.io/en/latest/

# plots
plotly==4.14.3  # https://plotly.com/python/
matplotlib==3.4.1  # https://matplotlib.org/

# plot graphs  # https://github.com/napoles-uach/streamlit_network
networkx==2.5  # https://networkx.org/
pyvis==0.1.9  # https://pyvis.readthedocs.io/en/latest/